<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Seguimiento de Posición</title>
    <meta http-equiv="refresh" content="60">
</head>
<body>
    <nav>
        <img src="/static/img/escudo_ing2.png" alt="logo-empresa" />
        <a href="/">Seguimiento de Posición</a>
    </nav>

    <div id="mapa">
        {{ iframe|safe }}
        <div id="info-adicional">
            <div id="presion">
                <h4>Velocidad:</h2>
                <span id="locacion">{{ datos.velocidad }}</span>
            </div>
            <div id="presion">
                <h4>Altitud:</h2>
                <span id="locacion">{{ datos.altitud }}</span>
            </div>
            <div id="presion">
                <h4>Satelites Utilizados:</h2>
                <span id="locacion">{{ datos.satelites }}</span>
            </div>
        </div>
    </div>

    <div id="datos">
        <div id="informacion">
            <div id="lugar">
                <h2>Actualmente se encuentra en:</h2>
                <span id="locacion">{{ datos.locacion }}</span>
            </div>
            <div id="temperatura">
                <h2>Temperatura:</h2>
                <span id="locacion">{{ datos.temperatura }}</span>
            </div>
            <div id="humedad">
                <h2>Humedad:</h2>
                <span id="locacion">{{ datos.humedad }}</span>
            </div>
            <div id="precipitaciones">
                <h2>Precipitaciones:</h2>
                <span id="locacion">{{ datos.precipitaciones }}</span>
            </div>
            <div id="presion">
                <h2>Presión:</h2>
                <span id="locacion">{{ datos.presion }}</span>
            </div>
        </div>
        <div id="grafico">
            <img id="foto" src="{{ datos.icono }}" alt="Estado del clima">
            <span>{{ datos.estado }}</span>
        </div>
    </div>

</body>
</html>